.card-all{
    display: flex;
    flex-direction: column;
    // gap: 50px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 300px;
    // border: 1px solid black;
}
.cards-all{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.card-all-text{
    align-items: center;
    text-align: center;
}